*.a
aclocal.m4
autom4te.cache
autoscan.log
build-aux
compile
config.*
configure
*.db
depcomp
.deps
*.gir
hello
gtk-doc.make
INSTALL
install-sh
*.la
.libs
libtool
*.lo
ltmain.sh
Makefile
Makefile.in
missing
*.o
*.pc
stamp-h1
*.swp
*.typelib
